:root {
    --raisin-black: #1E1E24;
    --ultra-violet: #53599A;
    --thistle: #B7ADCF;
    --ivory: #FBFFF1;
    --pumpkin: #F96900;
    --raspberry: #DB2955;
    --onyx: #403F4C;
    --dark-onyx: #252432;

    --price-color: #c9c9c9;

    // steam colors
    --positive: #66C0F4;
    --mixed: #B9A074;
    --negative: #A34C25;
    --no-reviews: #929396;
}